.profile {
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text-left {
    text-align: left;
}

p.w-20 {
    min-width: 10rem;
    max-width: 20rem;
}

.left-margin {
    margin-left: 5rem;
}